.register-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: #7a56c3;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input {
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.register-container button {
  background: #fff
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.mensagem {
  text-align: center;
  margin-top: 15px;
}
